.yasqe {
  .cm-editor {
    line-height: 1.5em;
    font-size: 14px;
    border: 1px solid #d1d1d1;
    height: 100%;
  }
  .cm-editor.cm-focused {
    outline: none;
  }
  .cm-scroller {
    font-family: monospace;
  }
  .cm-matchhighlight {
    background-color: #dbdeed;
  }
}
